
form {
     width: 20rem;
}
.container{
      width: 20rem;
      height: 18rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.4rem;
      background-color: #e4e4e4;
      border-radius: 1rem;

      -webkit-border-radius: 1rem;
      -moz-border-radius: 1rem;
      -ms-border-radius: 1rem;
      -o-border-radius: 1rem;
      
      & .input-field {
         display: flex;
         flex-direction: column;
         text-align: start;
         font-size: 1rem;
     }
}
.user-profiles{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 7rem;
}